
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>
<body>
   <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="file" name="file" id="file">
        <input type="submit" name="'submit">

   </form>

   <br>
    <table>
        <thead>
            <tr>
                <th>Property Name</th>
                <th>Price</th>
                <th>Rent</th>
                <th>EMI</th>
                <th>Tax</th>
                <th>Monthly Expenses</th>
                <th>Net Expenses</th>
                <th>Net Income</th>
        </tr>
        </thead>

        <tbody>
            {% for object in data_objects %}
            <tr>
                <td>{{ object.name }}</td>
                <td>{{ object.price }}</td>
                <td>{{ object.rent }}</td>
                <td>{{ object.emi }}</td>
                <td>{{ object.tax }}</td>
                <td>{{ object.exp }}</td>
                <td>{{ object.expenses_monthly }}</td>
                <td>{{ object.income_monthly }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <br>

</body>
</html>